* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
   
    font-size: 2.5em;
    font-variant: small-caps;
    
}

#winston_main {
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
}

#image_wrap {
    font-size: 1.25em;
    text-indent: 1em;
}

#winston_family {
    font-size: 1.25em;
    text-indent: 1em;
}

footer {
    margin-top: 25em;
    clear: left;
    color: #1f1f21;
    font-size: large;
}

#list_title {
    clear: both;
    font-weight: 900;
    color: #ff4000;
    font-size: xx-large
}

.list {
    clear: both;
    color: #ff4000;
    font-weight: 900;
    margin-bottom: -10em;
}

body #winstonsunbathing {
    float: right;
}

#blog_header {
    background-image: linear-gradient(85deg, #ffffff 0%, #00ffff 20%, #ffff00 40%);
    width: 70%;
    font-size: 5em;
    font-variant: small-caps;
}

article {
    columns: 4;
    column-gap: 2em;
    column-rule: .5em solid #2e8b57;
}

#blog_header_2 {
    font-variant: small-caps;
}

#morewin {
    clear: both;
    text-align:right;
    font-size: 1.25em;
}

a:hover, a:focus {
   font-size: 2em;
   color: #adff2f;
}